body{
    text-align: start;
}

.first_title{
    text-align:center;
    color: black;
}

button{
    width: 94%;
    margin-bottom: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

input{
    width: 100%;
    padding-bottom: 10px;
}

textarea{
    width: 100%;
    margin-bottom: 2%;
}

.container{
    border: 1px solid black;
    margin-left: 37%;
    margin-right: 37%;
    padding-top: 10;
}

.equis {
    width: 94%;
    margin-bottom: 3%;
    padding-left: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

.zeta{
    padding: 12 px;
    margin-bottom: 3%; 
    margin-left: 3%; 
    margin-top: 5%;
}