body{
    text-align: start;
}

.container1{
    width: 40%;
    display: flex;
    /*margin-right: 100px;*/
    flex-direction: column;
    justify-content: center;
}

.container2{
    width: 40%;
    display: flex;
    /*margin-left: 10px;*/
    flex-direction: column;
    justify-content: center;
}

button{
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 5px;
}

.container_center{
    border: 1px solid black;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.first_title{
    text-align: center;
}

.entrada{
    margin-bottom: 10px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:641px) and (max-width:1023px){
    label{
        text-align: left;
    }

    body{
        background-color: aqua;
    }

    .entrada{
        padding: 5px;
        margin-bottom: 10px;
    }

    button{
        margin-top: 15px;
        margin-bottom: 5px;
        padding: 5px;
    }

    .container_center{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /*.container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }*/

}

/*DISEÑO PARA CELULARES*/
@media screen and (max-width:640px){
    label{
        text-align: center;
    }

    body{
        background-color: brown;
    }

    .entrada{
        padding: 5px;
        margin-bottom: 10px;
    }

    button{
        margin-top: 15px;
        margin-bottom: 5px;
        padding: 5px;
    }

    .container_center{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}

/*DISEÑO PARA PÁGINAS WEB*/
@media screen and (min-width:1023px){
    label{
        text-align: center;
    }

    body{
        background-color: green;
    }
}